<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTDMapper3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ant.mapper.springboot.UserMapper">
      
     <insert id="kakaoinsertUser" parameterType="com.ant.vo.KakaoUserVO">
		INSERT INTO user(userid , email, kakaoname,nickname,phone ,pass )
 		VALUE (#{userid}, #{email}, #{kakaoname},#{nickname},#{phone},#{pass})
      </insert>
  
     <select id="UserListGet" resultType="com.ant.vo.KakaoUserVO">
         SELECT * FROM user
     </select>
     
     <select id="UserTotalCountGet" resultType="int">
         SELECT count(*) FROM user
     </select>
     <select id="UserSubCountGet" resultType="int">
         SELECT count(*) FROM user where subscripstat = 1
     </select>
     
     <select id="fetchUserByID" resultType="com.ant.vo.UserVO"
      parameterType="int">
         SELECT * FROM users
         WHERE id = #{id}
     </select>
     
     <select id="kakaofetchUserByID" resultType="com.ant.vo.KakaoUserVO"
      parameterType="string">
         SELECT * FROM user
         WHERE userid = #{kakaoid}
     </select>
     
     <delete id="deleteUser" parameterType="int">
         DELETE FROM user
         WHERE userid = #{userid}
     </delete>
     
     <update id="updateUser" parameterType="com.ant.vo.KakaoUserVO">
         UPDATE user
         SET nickname = #{nickname}, email = #{email} 
         WHERE userid = #{userid}
     </update>
  
</mapper>
